<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> menu</title>
  <style>

         ul {
            display: flex;
            flex-direction: column;


            height: 100vh;
            list-style: none;
        }
        li {
            margin: 10px;
        }
        a {
            display: block;
            padding: 10px;
            background-color: #ccc;
            text-align: center;
            width: 200px;
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
<h1> 출석 조회 메뉴 </h1>
<ul>
  <li><a href="/gym/entrance/todaylist">금일 출석 회원 조회</a></li>
  <li><a href="/gym/entrance/search/date">특정 날짜 출석 회원 조회</a></li>
  <li><a href="/gym/entrance/search/id">특정 회원 출석 조회</a></li>
  <li><a href="/gym/entrance/delete">출석 기록 삭제</a></li>
  <li><a href="/gym/menu">이전으로</a></li>
</ul>
</body>
</html>