<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <title>일 매출 조회</title>
</head>
<body>
<h2>일 매출 조회</h2>
<table border="1" style="border-collapse: collapse;">
    <thead style="background-color: white; color: black;">
    <tr>
        <th>주문 번호</th>
        <th>회원 번호</th>
        <th>회원 이름</th>
        <th>상품 이름</th>
        <th>매출</th>
        <th>구매 날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="salesList1 : ${salesList1}">
        <td th:text="${salesList1.order_No}"></td>
        <td th:text="${salesList1.mem_ID}"></td>
        <td th:text="${salesList1.mName}"></td>
        <td th:text="${salesList1.purchase}"></td>
        <td th:text="${salesList1.sales}"></td>
        <td th:text="${salesList1.p_DateStr}"></td>
    </tr>
    </tbody>
</table>
<li style="list-style: none;"><button onclick="location.href='/gym/menu/sales'">이전으로</button></li>
</body>
</html>