<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1>매출 조회</h1>
<form th:action="@{/gym/salesInfo/resOneMonthSalSel}" th:object="${salesVO}" method="post">

    <div>
        <label for="p_DateStr">원하는 날짜를 입력 하세요(YYYY-MM) :</label>
        <input type="text" id="p_DateStr" th:field="*{p_DateStr}" />
    </div>
    <div>
        <button type="submit">조회</button>
    </div>
</form>
<li style="list-style: none;"><button onclick="location.href='/gym/menu/sales'">이전으로</button></li>
</body>
</html>