<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> PT 회원 관리</title>
  <style>

         ul {
            display: flex;
            flex-direction: column;


            height: 100vh;
            list-style: none;
        }
        li {
            margin: 10px;
        }
        a {
            display: block;
            padding: 10px;
            background-color: #ccc;
            text-align: center;
            width: 200px;
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
<h1>PT 회원 관리</h1>
<ul>
  <li><a href="/gym/ptdata/pt_member"> PT 회원 조회 </a></li>
  <li><a href="/gym/ptdata/data">전체 PT 기록</a></li>
  <li><a href="/gym/ptdata/search/form">회원별 PT 기록 조회</a></li>
  <li><a href="/gym/ptdata/insert">PT 기록 삽입</a></li>
  <!--<li><a href="/gym/ptdata/ptDataDelete">PT 기록 삭제</a></li> -->
  <li><a href="/gym/menu">이전으로</a></li>
</ul>
</body>
</html>