<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Info</title>
</head>
<body>
<h1>Member Info</h1>
<table>
    <tr th:each="memberinfo : ${memberinfo}">
    <tr>
        <th>회원번호</th>
        <td th:text="${memberinfo.mem_Id}"></td>
    </tr>
    <tr>
        <th>이름</th>
        <td th:text="${memberinfo.mname}"></td>
    </tr>
    <tr>
        <th>보호자 이름</th>
        <td th:text="${memberinfo.pname}"></td>
    </tr>
    <tr>
        <th>PT 잔여 횟수</th>
        <td th:text="${memberinfo.ptRemain}"></td>
    </tr>
    <tr>
        <th>기간</th>
        <td th:text="${memberinfo.term}"></td>
    </tr>
    <tr>
        <th>만기일</th>
        <td th:text="${memberinfo.due_Date}"></td>
    </tr>
    <tr>
        <th>성별</th>
        <td th:text="${memberinfo.gender}"></td>
    </tr>
    <tr>
        <th>전화번호</th>
        <td th:text="${memberinfo.phoneNum}"></td>
    </tr>
    <tr>
        <th>라커번호</th>
        <td th:text="${memberinfo.lockNum}"></td>
    </tr>
    <tr>
        <th>등록일</th>
        <td th:text="${memberinfo.reg_Date}"></td>
    </tr>
</table>
<li style="list-style: none;"><button onclick="location.href='/gym/menu/memberinfo'">이전으로</button></li>
</body>
</html>